button {
  color: #222;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  margin-bottom:10px ;
  font-size: 16px;
  border-radius: 10px;
}

ul{
  list-style-type:none;
  height: 90%;
}

.main{
  padding-top: 10%;
  background-color: #595353;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: small;
}



ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

}
ion-content h2{

  margin-top: 20%;
  place-content: center;
}
ion-modal ion-content{

  --background: #5f6e44;
}

.modal-content{
  display: flex;
  align-items: center;
  align-content: center;
}







